* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'segoe ui';
}

.nav {
  height: 75px;
  width: 100%;
  background-color: #fff;
  position: relative;
  border-bottom: gray solid 1px;
  padding: 10px 30px;
  box-shadow: 0px -10px 30px #ff6708;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav-title img {
  width: 250px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #ff6708;
}

.nav > .nav-links > a:hover {
  background-color: #ff6708;
  color:#fff;
  border-radius: 5px;
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav {
    padding: 10px;
  }

  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 12px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: #fff;
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #000;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #ff6708;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 65px;
    left: 0px;
    padding-left: 10px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
    color:#fff;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: 55px;
    overflow-y: auto;
    z-index: 99;
  }
}
